accelerate>=0.26.0
datasets
diskcache
evaluate
farm-haystack
matplotlib
notebook
protobuf
regex
qdrant-haystack
sacremoses
sentence-transformers
sentencepiece
scikit-learn
spacy
tensorboard
torch
torchaudio
torchvision
transformers

